@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";
#adtag {
  opacity: 0;
}
.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}
.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}
.breadcrumb ul li a {
  color: #000;
}
.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}
.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}
.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}
.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}

.garamond {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
}

#public {
  main img {
    max-width: 100%;
  }
  .image {
    position: relative;
    .annotation {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
      font-size: 10px;
      &.white {
        color: #fff;
        text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
      }
    }
  }

  main {
    color: #000;
    font-family: "RyuminPro", serif;
    line-height: 1;
    letter-spacing: 0.12em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  sup {
    font-size: 10px;
    vertical-align: super;
  }
  sp {
    display: none;
  }
  pc {
    display: block;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 0;
  }
  .main-visual {
    position: relative;
    border: none;
  }
  .sections {
    .inner {
      margin: 0 auto;
      width: 90%;
      max-width: 1200px;
    }
    .image {
      position: relative;
    }
    .annotation {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
      font-size: 10px;
      &.white {
        color: #fff;
        text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
      }
    }
  } //sections

  .intro {
    text-align: center;
    background: #000;
    color: #fff;
    margin-top: -2px;
    .bg {
      padding: 140px 0 100px;
    }
    .tit {
      font-size: 4.2rem;
      line-height: 1.8;
      letter-spacing: 0.25rem;
      margin-bottom: 40px;
    }
    .lead {
      font-size: 1.6rem;
      line-height: 2;
    }
  } //intro
  .landplan {
    text-align: center;
    background: #000;
    color: #fff;
    .inner {
      max-width: 1000px;
    }
    .tit {
      background: #fff;
      padding: 80px 0;
      color: #000;
      font-size: 3.6rem;
      line-height: 1.5;
    }
    .images {
      padding-top: 100px;
      position: relative;
      .point {
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1.6rem;
        line-height: 1.6;
      }
    } //images
    .txt {
      text-align: left;
      font-size: 2.2rem;
      margin: 100px 0 20px;
    }
    .list {
      padding-bottom: 60px;
      li {
        display: inline-block;
        width: 18%;
        vertical-align: bottom;
        margin-right: 1%;
      }
      li:last-child {
        width: 20%;
        margin: auto;
      }
      .name {
        text-align: center;
        font-size: 1.4rem;
        margin-top: 10px;
      }
      .mini {
        font-size: 1.3rem;
        text-align: left;
        line-height: 1.4;
        span {
          font-size: 11px;
        }
      }
    }
  } //landplan

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 768px) {
    sp {
      display: block;
    }
    pc {
      display: none;
    }

    .intro {
      text-align: left;
      .bg {
        padding: 50px 0;
      }
      .tit {
        font-size: 24px;
        line-height: 1.8;
        letter-spacing: 0.25rem;
        margin-bottom: 30px;
      }
      .lead {
        font-size: 14px;
        line-height: 2;
      }
    } //intro
    .landplan {
      text-align: left;
      .tit {
        text-align: center;
        padding: 40px 0;
        font-size: 20px;
      }
      .images {
        padding-top: 50px;
        .point {
          position: inherit;
          font-size: 16px;
          margin-top: 40px;
        }
      } //images
      .txt {
        text-align: left;
        font-size: 20px;
        margin: 50px 0 20px;
      }
      .list {
        padding-bottom: 50px;
        li {
          display: inline-block;
          width: 48%;
          vertical-align: bottom;
          margin-right: 1%;
          margin-bottom: 20px;
        }
        li:nth-child(2n) {
          margin-right: auto;
        }
        li:last-child {
          width: 100%;
          margin: auto;
        }
        .mini {
          font-size: 12px;
          span {
            font-size: 11px;
          }
        }
      }
    } //landplan

    @media screen and (max-width: 768px) {
    }
  } //sp
  @media screen and (max-width: 550px) {
  }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 420px) {
  }
  @media screen and (max-width: 360px) {
  }
}
