@charset "UTF-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}

.breadcrumb ul li a {
  color: #000;
}

.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}

.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}

.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}

.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}

.garamond {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
}

.location01 main img {
  max-width: 100%;
}
.location01 .image {
  position: relative;
}
.location01 .image .annotation {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-size: 10px;
}
.location01 .image .annotation.white {
  color: #fff;
  text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
}
.location01 .location-link {
  color: #000;
}
.location01 main {
  color: #000;
  font-family: "RyuminPro", serif;
  line-height: 1;
  letter-spacing: 0.12em;
  background: #f5f7f8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.location01 sup {
  font-size: 10px;
  vertical-align: super;
}
.location01 .page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0;
}
.location01 .main-visual {
  position: relative;
  border: none;
}
.location01 .sections .tit-img {
  max-width: 500px;
  margin: 0 auto 40px;
}
.location01 .sections .inner {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}
.location01 .sections .image {
  position: relative;
}
.location01 .sections .annotation {
  font-size: 10px;
  text-align: right;
}
.location01 .sections .column02 li {
  vertical-align: top;
  display: inline-block;
  width: 48%;
  margin-right: 2%;
}
.location01 .sections .column02 li.image, .location01 .sections .column02 li.lead01 {
  width: 48%;
  margin-right: 2%;
  margin-top: 20px;
}
.location01 .sections .column02 li:nth-child(2n) {
  margin-right: auto;
}
.location01 .sections .column03 li {
  vertical-align: top;
  display: inline-block;
  width: 32%;
  margin-right: 1%;
}
.location01 .sections .column03 li:nth-child(3n) {
  margin-right: auto;
}
.location01 .intro {
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: -2px;
}
.location01 .intro .bg01 {
  background: #000;
  padding: 140px 0;
}
.location01 .intro .inner {
  max-width: 1000px;
}
.location01 .intro .tit {
  font-size: 40px;
  letter-spacing: 0.2em;
  line-height: 1.8;
  color: #fff;
  margin-bottom: 50px;
}
.location01 .intro .lead {
  font-size: 16px;
  line-height: 2;
  color: #fff;
}
.location01 .city {
  text-align: center;
  padding: 120px 0;
}
.location01 .city .inner {
  max-width: 1000px;
}
.location01 .city .text {
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.location01 .city .sub {
  font-size: 16px;
  color: #3e4856;
  margin-bottom: 50px;
}
.location01 .city .lead01 {
  font-size: 16px;
  line-height: 2;
  text-align: left;
  margin-bottom: 50px;
}
.location01 .shops {
  text-align: center;
  background: #33445e;
  padding-bottom: 50px;
  color: #fff;
}
.location01 .shops .inner {
  max-width: 1000px;
}
.location01 .shops .column02 {
  text-align: left;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
}
.location01 .shops .column02 .txt {
  font-size: 24px;
  line-height: 1.8;
  margin-bottom: 20px;
}
.location01 .shops .column02 .txt span {
  font-size: 14px;
}
.location01 .shops .column02 .lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
}
.location01 .shops .column02.list01 .img02 {
  margin: 30px 0;
}
.location01 .shops .column02.list02 li {
  vertical-align: bottom;
}
.location01 .shops .column02.list02 .txt {
  margin-bottom: 10px;
}
.location01 .shops .column02.list02 .lead {
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .location01 br {
    display: block;
  }
  .location01 br.pc {
    display: none;
  }
  .location01 br.pc {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .location01 .swipe-img {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .location01 .swipe-img img {
    max-width: auto !important;
    max-width: inherit !important;
    width: auto !important;
  }
  .location01 .swipe {
    display: block;
    text-align: center;
    margin: 20px auto 40px;
  }
  .location01 .swipe img {
    max-width: 75px;
    width: 15%;
    height: auto;
    margin: auto;
    pointer-events: none;
  }
  .location01 sp {
    display: block;
  }
  .location01 pc {
    display: none;
  }
  .location01 .sections .column02 li {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .location01 .sections .column02 li.image, .location01 .sections .column02 li.lead01 {
    width: 100%;
  }
  .location01 .sections .column02 li:last-child {
    margin-bottom: auto;
  }
  .location01 .sections .column03 li {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .location01 .sections .column03 li .annotation {
    bottom: 5px;
    right: 5px;
  }
  .location01 .sections .column03 li:last-child {
    margin-bottom: auto;
    margin-right: auto;
  }
  .location01 .intro {
    text-align: left;
  }
  .location01 .intro .bg01 {
    padding: 50px 0;
  }
  .location01 .intro .tit {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .location01 .city {
    text-align: left;
    padding: 50px 0;
  }
  .location01 .city .text {
    font-size: 20px;
  }
  .location01 .city .sub {
    margin-bottom: 30px;
  }
  .location01 .city .lead01 {
    margin-bottom: 20px;
  }
  .location01 .shops {
    padding-bottom: 50px;
  }
  .location01 .shops .column02 {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .location01 .shops .column02 .txt {
    font-size: 20px;
    line-height: 1.8;
  }
  .location01 .shops .column02 .lead {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .location01 .shops .column02.list01 .img02 {
    margin: 20px 0;
  }
  .location01 .shops .column02.list02 li {
    vertical-align: bottom;
  }
  .location01 .shops .column02.list02 .txt {
    margin-bottom: 10px;
  }
  .location01 .shops .column02.list02 .lead {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=location01.css.map */