@charset "UTF-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
#adtag {
  opacity: 0;
}

.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}

.breadcrumb ul li a {
  color: #000;
}

.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}

.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}

.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}

.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}

.garamond {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
}

#public main img {
  max-width: 100%;
}
#public .image {
  position: relative;
}
#public .image .annotation {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-size: 10px;
}
#public .image .annotation.white {
  color: #fff;
  text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
}
#public main {
  color: #000;
  font-family: "RyuminPro", serif;
  line-height: 1;
  letter-spacing: 0.12em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#public sup {
  font-size: 10px;
  vertical-align: super;
}
#public sp {
  display: none;
}
#public pc {
  display: block;
}
#public .page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0;
}
#public .main-visual {
  position: relative;
  border: none;
}
#public .sections .inner {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
#public .sections .image {
  position: relative;
}
#public .sections .annotation {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-size: 10px;
}
#public .sections .annotation.white {
  color: #fff;
  text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
}
#public .intro {
  text-align: center;
  background: #000;
  color: #fff;
  margin-top: -2px;
}
#public .intro .bg {
  padding: 140px 0 100px;
}
#public .intro .tit {
  font-size: 4.2rem;
  line-height: 1.8;
  letter-spacing: 0.25rem;
  margin-bottom: 40px;
}
#public .intro .lead {
  font-size: 1.6rem;
  line-height: 2;
}
#public .landplan {
  text-align: center;
  background: #000;
  color: #fff;
}
#public .landplan .inner {
  max-width: 1000px;
}
#public .landplan .tit {
  background: #fff;
  padding: 80px 0;
  color: #000;
  font-size: 3.6rem;
  line-height: 1.5;
}
#public .landplan .images {
  padding-top: 100px;
  position: relative;
}
#public .landplan .images .point {
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.6rem;
  line-height: 1.6;
}
#public .landplan .images .point span {
  font-size: 80%;
}
#public .landplan .txt {
  text-align: left;
  font-size: 2.2rem;
  margin: 100px 0 20px;
}
#public .landplan .list {
  padding-bottom: 60px;
}
#public .landplan .list li {
  display: inline-block;
  width: 18%;
  vertical-align: bottom;
  margin-right: 1%;
}
#public .landplan .list li:last-child {
  width: 20%;
  margin: auto;
}
#public .landplan .list .name {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 10px;
}
#public .landplan .list .mini {
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.4;
}
#public .landplan .list .mini span {
  font-size: 11px;
}
@media screen and (max-width: 768px) {
  #public sp {
    display: block;
  }
  #public pc {
    display: none;
  }
  #public .intro {
    text-align: left;
  }
  #public .intro .bg {
    padding: 50px 0;
  }
  #public .intro .tit {
    font-size: 2.1rem;
    line-height: 1.8;
    letter-spacing: 0.25rem;
    margin-bottom: 30px;
  }
  #public .intro .lead {
    font-size: 1.4rem;
    line-height: 2;
  }
  #public .landplan {
    text-align: left;
  }
  #public .landplan .tit {
    text-align: center;
    padding: 40px 0;
    font-size: 2rem;
  }
  #public .landplan .images {
    padding-top: 50px;
  }
  #public .landplan .images .point {
    position: inherit;
    font-size: 1.6rem;
    margin-top: 40px;
  }
  #public .landplan .txt {
    text-align: left;
    font-size: 20px;
    margin: 50px 0 20px;
  }
  #public .landplan .list {
    padding-bottom: 50px;
  }
  #public .landplan .list li {
    display: inline-block;
    width: 48%;
    vertical-align: bottom;
    margin-right: 1%;
    margin-bottom: 20px;
  }
  #public .landplan .list li:nth-child(2n) {
    margin-right: auto;
  }
  #public .landplan .list li:last-child {
    width: 100%;
    margin: auto;
  }
  #public .landplan .list .mini {
    font-size: 1.2rem;
  }
  #public .landplan .list .mini span {
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=public.css.map */